<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ALC.sc2boa"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    

    <instrumentation
        android:name="TestStuff"
        android:targetPackage="com.ALC.sc2boa" >
    </instrumentation>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />
        

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ALC.sc2boa.MainActivity" />
        </activity>
        <activity
            android:name=".SelectBuildOrderActivity"
            android:label="@string/title_activity_select_build_order" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ALC.sc2boa.MainActivity" />
        </activity>
        <activity
            android:name=".AddBuildOrderActivity"
            android:label="@string/title_activity_add_build_order" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ALC.sc2boa.MainActivity" />
        </activity>
        <activity
            android:name=".DebugActivity"
            android:label="@string/title_activity_debug" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ALC.sc2boa.MainActivity" />
        </activity>
        <activity
            android:name=".DisplayBuildOrderActivity"
            android:label="@string/title_activity_display_build_order" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ALC.sc2boa.MainActivity" />
        </activity>
        
        <activity
            android:name=".ToolsActivity"
            android:theme="@android:style/Theme.Black"
            android:label="@string/title_activity_tools" >
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ALC.sc2boa.MainActivity" />
        </activity>
    </application>

</manifest>