<?xml version="1.0" encoding="UTF-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.ALC.sc2boa">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15"/>

    <instrumentation android:name="TestStuff" android:targetPackage="com.ALC.sc2boa">
    </instrumentation>

    <permission android:name="com.ALC.sc2boa.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

   <uses-permission android:name="com.ALC.sc2boa.permission.C2D_MESSAGE"/>
   <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
   <uses-permission android:name="android.permission.WAKE_LOCK"/>
   <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
   <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
   <permission android:name="com.ALC.sc2boa.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

   <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:killAfterRestore="false" android:label="@string/app_name" android:theme="@style/AppTheme">
        <uses-library android:name="android.test.runner"/>

        <activity android:label="@string/title_activity_main" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_select_build_order" android:name=".SelectBuildOrderActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.ALC.sc2boa.MainActivity"/>
        </activity>
        <activity android:label="@string/title_activity_add_build_order" android:name=".AddBuildOrderActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.ALC.sc2boa.MainActivity"/>
        </activity>
        <activity android:label="@string/title_activity_debug" android:name=".DebugActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.ALC.sc2boa.MainActivity"/>
        </activity>
        <activity android:label="@string/title_activity_display_build_order" android:name=".DisplayBuildOrderActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.ALC.sc2boa.MainActivity"/>
        </activity>
        <activity android:label="@string/title_activity_tools" android:name=".ToolsActivity" android:theme="@android:style/Theme.Holo">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.ALC.sc2boa.MainActivity"/>
        </activity>
        <!-- android:theme="@android:style/Theme.Black" -->
        <activity android:label="@string/title_activity_edit_build_order" android:name=".EditBuildOrderActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.ALC.sc2boa.DisplayBuildOrderActivity"/>
        </activity>
        <activity android:label="@string/title_activity_display_database_information" android:name=".DisplayDatabaseInformationActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.ALC.sc2boa.MainActivity"/>
        </activity>
        <activity android:label="@string/title_activity_donation" android:name=".DonationActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.ALC.sc2boa.MainActivity"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.paypal.android.MEP.PayPalActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <service android:name=".GCMIntentService"/>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.ALC.sc2boa"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.ALC.sc2boa"/>
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService"/>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.ALC.sc2boa"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.ALC.sc2boa"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>